

h1 {
    color: indigo;
    text-align: center;
}

body {
    background-color: lavender;
    margin: 0px;
    font-weight: 700;
}

p {
    color: blue;
    margin: 15px;
}

.container { 
    width: 80%;
    margin: 0 auto;
}
header{
    background:blueviolet;
    height: 50px;
}
nav {
    float: left;
}
nav ul {
    margin: 0px;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline;
    margin-left: 70px;
    margin-right: 30px;
    padding: 15px;
}

nav a{
    font-family: cursive;
    font-size: 16px;
    color: plum;
    top: 15px;
    text-decoration: none;
    position: relative;
}

nav a:hover{
    color: whitesmoke;
    text-decoration: underline;
}

footer {
    font-family: cursive;
    text-align: center;
    padding: 3px;
    background-color: plum;
    color: blueviolet;
    position: absolute;
    bottom: 0%;
    width: 100%;
}

footer p {
    color:blueviolet;
}
